body {
  margin: 0;
  padding: 0;
  font-family: "Museo Sans Cyrl", sans-serif;
}

.header__inner {
  display: flex;
  width: 1200px;
  height: 306px;
  margin: 20px auto 82px auto;
  padding: 0 40px;
  background-color: rgba(147, 187, 234, 1);
  border-radius: 40px;
  overflow: hidden;
}

.header__image-message {
  position: relative;
  top: 37px;
  left: -40px;
}

.header__info {
  text-align: center;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 72px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.header__info h1 {
  height: 72px;
  margin-bottom: 4px;
}

.header__info p {
  height: 48px;
  font-size: 17px;
  font-weight: 500;
  line-height: 23.8px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 40px;
}

.header__menu-list {
  display: flex;
  width: 664px;
}

.header__menu-item {
  list-style: none;
  width: 160px;
  height: 48px;
  margin-right: 8px;
  text-align: center;
  align-content: center;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.header__menu-item:last-child {
  margin-right: 0;
}

.header__menu-link {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;

  color: rgba(26, 26, 26, 1);
  text-decoration: none;
  margin-left: 3px;
}

.header__menu-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.header__menu-item:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.header__menu-white:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.header__menu-white::after {
  background-color: #fff;
}

.header__menu-item:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.header__image-phone {
  position: relative;
  top: 100px;
  left: 15px;
}

.main__accession {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 996px;
  height: 166px;
  margin: 0 auto 80px auto;

  background: rgba(255, 255, 255, 1);
  border-radius: 40px;
  box-shadow: 0px 20px 60px 0px rgba(26, 26, 26, 0.05);
}

.main__accession-info {
  padding-top: 22px;
}

.main__accession p {
  width: 291px;
  height: 18px;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  margin-bottom: -20px;
}

.main__accession h2 {
  width: 351px;
  height: 48px;
  font-size: 40px;
  font-weight: 600;
  text-align: left;
  margin-right: 159px;
}

.main__accession-social {
  display: flex;
}

.main__accession-logo {
  width: 56px;
  height: 56px;
  text-align: center;
  align-content: center;
  background: rgba(249, 249, 249, 1);
  border-radius: 13.33px;
  margin-right: 14px;
}

.main__accession-logo:last-child {
  margin-right: 0;
}

.main__accession-logo:hover {
  animation: bounce 0.7s;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  margin-bottom: 32px;
}

.main__slider-container {
  display: flex;
  justify-content: center;
}

.main__slider {
  width: 918px;
  height: 160px;
  margin: 0 20px;
  margin-bottom: 80px;
  background-color: white;
  transition: all 1s;
  overflow: hidden;
}

.main__slider-questions {
  width: 1224px;
  height: 160px;
  display: flex;
  position: relative;
  left: 0px;
  transition: all ease 1s;
  margin: 0;
  padding: 0;
}

.main__slider-question {
  width: 282px;
  height: 160px;
  list-style: none;
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  margin-right: 24px;
}

.main__slider-question:hover {
  transform: scale(1.01);
  transition: 0.7s;
  cursor: pointer;
}

.main__slider-question:nth-child(1) {
  display: flex;
}

.main__slider-question:nth-child(3) {
  display: flex;
}

.main__slider-text {
  padding-top: 16px;
  padding-left: 16px;
}

.main__slider-link {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: rgba(26, 26, 26, 1);
  text-decoration: none;
}

.first-link {
  padding-top: 16px;
  padding-left: 16px;
}

.main__slider-question p {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: rgba(148, 148, 148, 1);
}

.main__slider-button {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  border: rgba(255, 255, 255, 1);
  border-radius: 50%;
  cursor: pointer;
  margin-top: 58px;
}

.left-arrow {
  width: 20px;
  height: 20px;
  padding-right: 2px;
}

.right-arrow {
  width: 20px;
  height: 20px;
  padding-left: 2px;
}

.slider-next {
  position: relative;
  left: 1175px;
  bottom: 242px;
}

.footer__info-list {
  display: flex;
  flex-direction: column;
  width: 996px;
  margin: 0 auto;
  list-style: none;
  margin-bottom: 80px;
}

.footer__info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 996px;
  height: 64px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  margin-bottom: 12px;
}

.footer__info-item:hover {
  transform: scale(1.01);
  transition: 0.7s;
  box-shadow: 0 0 10px 0 rgba(172, 166, 166, 0.5);
  cursor: pointer;
}

.footer__info-item:nth-child(2n) {
  height: 104px;
}

.footer__info-item h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.footer__info-item p {
  width: 496.97px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
  color: rgba(148, 148, 148, 1);
  margin-top: -20px;
}

.footer__info-text {
  margin-left: 24px;
}

.footer__info-button {
  width: 24px;
  height: 24px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  border: rgba(255, 255, 255, 1);
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.footer__info-arrow {
  padding-left: 2px;
}
